<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
Reservations    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let data of reservations">

    <ion-card-content >
      <ion-card-title >

        <ion-text>Date : {{data.date | date :'dd/MM/yyyy hh:mm'}}</ion-text><br>

        <ion-text >Service : {{data.service.name}}</ion-text><br>
        <ion-text>Price : {{data.service.price}}dt</ion-text><br>
        <ion-text  >Status : <ion-text>
          <span  class = "Accepted" *ngIf="data.status === 'Accepted'">{{data.status}}</span>
          <span  class = "Refused" *ngIf="data.status === 'Refused'">{{data.status}}</span>
          <span  class="pending" *ngIf="data.status === 'pending'">{{data.status}}</span>
          <span  class = "Canceled" *ngIf="data.status === 'Canceled'">{{data.status}}</span></ion-text> </ion-text>


        </ion-card-title>
      <p>

      </p>
      <br>
      <ion-button *ngIf="data.status === 'pending' " expand="block" color="secondary" (click)="CancelReservation(data)" >Cancel Reservation</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reservations</ion-title>

    </ion-toolbar>
  </ion-header>
