ion-card {
  margin-top: 5%;
  background-color: rgb(251, 251, 251);
}

ion-button{
  margin-top: 10px;
}
.Accepted{
  color: green;
}

.Canceled{
  color : red;
}

.Refused{color : red}

.pending{
  color: dodgerblue;
}
