<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
Reservations    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card >
    
    <ion-card-content>
      <ion-card-title *ngFor="let data of dataReservations">
        {{data.id}}
        </ion-card-title>
      <p>
        
      </p>
      <br>
      <ion-button expand="block" color="primary" >Reserve</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reservations</ion-title>
      
    </ion-toolbar>
  </ion-header>
