<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
Reservations    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let data of reservations">

    <ion-card-content >
      <ion-card-title >

        <ion-text>Date : {{data.date | date :'dd/MM/yyyy hh:mm'}}</ion-text><br>
      
        <ion-text >Service : {{data.service.name}}</ion-text><br>
        <ion-text>Price : {{data.service.price}}dt</ion-text><br>
        <ion-text>Status : {{data.status}}</ion-text>


        </ion-card-title>
      <p>

      </p>
      <br>
      <ion-button expand="block" color="secondary" >Cancel Reservation</ion-button>
      <ion-button expand="block" color="danger"  >Delete</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>


  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Reservations</ion-title>

    </ion-toolbar>
  </ion-header>
