.logout{
    position: absolute;
bottom: 10%;
width: 100%;


}



ion-card{
  
    margin-top: 5%;
    margin: 16px 0 24px;
}
.avatar{
    margin: auto;

border: radius;
}

.price {     margin-left: 50%;}


ion-popover{
    
        position:absolute;
      
}

h1{
    text-align: center;
}