<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let data of dataServices"  color="light">
    <div class="img-wrapper">
      <img src="assets\img\IMG-20200706-WA0005.jpg/" />
    </div>
    <ion-card-content class="ion-text-center">
      <h2>{{data.name}}</h2>
      <ion-text color="medium">
        <div style="display: flex;" class="ion-justify-content-center">
        </div>
      </ion-text>
    </ion-card-content>
  </ion-card>





</ion-content>
