<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card  *ngFor="let data of dataServices">
    <img src="\assets\img\Blue.png"/>
    <ion-card-content>
      <ion-card-title>
        {{data.name}}<span  class="price">{{data.price}}dt</span>
        </ion-card-title>
      <p>
        {{data.description}}
      </p>
      <br>
      <ion-button color="secondary" expand="full" id="size-button"  >
        Reserve now
      </ion-button>
      

            

    </ion-card-content>
  </ion-card>



</ion-content>
