.logout{
    position: absolute;
bottom: 10%;
width: 100%;


}


ion-card{
  padding-top: 10%
    ;
    margin-top: 20%;
    margin: 16px 0 24px;
}
.avatar{
    margin: auto;

border: radius;
}

.price {     margin-left: 35%;}
